@inherits ComponentWithTranslations
@page "/"

<h1>@Translation["Welcome"]</h1>

@Translation["Welcome to your new app"].

<SurveyPrompt Title="@Translation["How is Blazor working for you?"]" />
